
.background {
    background-color: #cccc;
}

.flag-pos {
    position: fixed;
    top: 100px;
    left: 20px;
    width: 20%;
}

p {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    left: 25%;
    width: 50%;
    font-size: 1.9vw;
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
}

/* SAN MARINO ############# */

.sanmarino-flag-text {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(156, 156, 156);
    position: absolute;
    left: 25%;
    width: 50%;
    top: 16%;
    font-size: 1.9vw;
    text-align: left;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
}

.sanmarino-info-text {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(156, 156, 156);
    position: fixed;
    left: 25%;
    width: 50%;
    top: 45%;
    font-size: 1.9vw;
    text-align: left;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
}


.sanmarino-title {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(156, 156, 156);
    position: fixed;
    top: 50px;
    left:25%;
    width: 50%;
}

/* ####################### */

.home-text {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(156, 156, 156);
    position: fixed;
    left: 25%;
    width: 50%;
    top: 16%;
    font-size: 1.9vw;
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
}

/*SEYCHELLES #################*/


.seychelles-title {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(156, 156, 156);
    position: fixed;
    top: 50px;
    left:25%;
    width: 60%;
}


.seychelles-text {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(156, 156, 156);
    position: fixed;
    width: 60%;
    font-size: 1.9vw;
    text-align: left;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
}

#seychelles-flag {
    top: 20%;
}

#seychelles-colour {
    top: 35%;
}

#seychelles-info {
    top: 55%;
}
/*#################*/

/* BHUTAN #############*/

.bhutan-title {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(156, 156, 156);
    position: fixed;
    top: 50px;
    left: 25%;
    width: 45%;
}

.bhutan-text {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(156, 156, 156);
    position: fixed;
    width: 45%;
    font-size: 1.9vw;
    text-align: left;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
}

#bhutan-flag {
    top: 20%;
}

#bhutan-colour {
    top: 45%;
}

/*#################*/

/* BARBADOS ########*/

.barbados-title {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(156, 156, 156);
    position: fixed;
    top: 50px;
    left: 25%;
    width: 50%;
}

.barbados-text {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(156, 156, 156);
    position: fixed;
    width: 50%;
    font-size: 1.9vw;
    text-align: left;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
}

#barbados-flag {
    top: 20%;
}

#barbados-colour {
    top: 40%;
}

/*#################*/

/*VENEZUELA ##########*/

.venezuela-title {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(156, 156, 156);
    position: fixed;
    top: 50px;
    left: 25%;
    width: 50%;
}

.venezuela-text {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(156, 156, 156);
    position: fixed;
    width: 50%;
    font-size: 1.9vw;
    text-align: left;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
}

#venezuela-flag {
    top: 20%;
}

#venezuela-info {
    top: 45%;
}

/*##############*/

/* MARSHALL ISLANDS*/

.marshall-islands-title {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(156, 156, 156);
    position: fixed;
    top: 50px;
    left: 25%;
    width: 50%;
}

.marshall-islands-text {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(156, 156, 156);
    position: fixed;
    width: 50%;
    font-size: 1.9vw;
    text-align: left;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
}

#marshall-islands-flag {
    top: 21%;
}

#marshall-islands-info {
    top: 40%;
}


/*##############*/

::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }



ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    float: left;
    border-right: 1px solid #bbb;
}

li:last-child {
    border-right: none;
}

li a {
    display: block;
    padding: 14px 16px;
    color: white;
    text-align: center;
    text-decoration: none;
    font-family: "Monaco", monospace;
}



li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #04AA6D;
}

h1 {
    font-size: 3vw;
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
}
